@import 'scss/variables';

.question-item {

  &__question {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: color .1s;

    &:hover {
      color: $blue;
    }
  }

  &__answer {
    padding: 15px;
    padding-top: 0;
    color: darken($gray, 20%);
    font-weight: 200;
  }

  &__arrow {
    transition: all .2s;
  }

  &__delete {
    opacity: 0;
    transform: translateX(5px);
    transition: .2s all;

    &:hover {
      color: $red;
    }
  }

  :hover {
    .question-item__delete {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--expanded {
    .question-item__arrow {
      transform: rotate(180deg);
    }
  }
}
