@import 'scss/variables';

.list {
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba($dark, .07),
              0 0 2px rgba($dark, .1);
}

.list-item {
  border-bottom: 1px solid rgba($light-gray, .5);
}
