// Colors
$light: #FAF9F8;
$dark: #152334;
$blue: #0067F4;
$green: #17C671;
$white: #FFFFFF;
$gray: #5A6169;
$red: #C4183C;
$light-gray: #E5E7E8;

// @media breaks
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-lx: 1200px;
