@import './variables';
@import './list';
@import './bootstrap';

$placeholder-color: darken($light-gray, 10%);

body, html {
  margin: 0;
  color: $dark;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

input, textarea {
  outline: none;

  &::-webkit-input-placeholder {
    font-weight: 200;
    color: $placeholder-color;
  }
}

